<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
    <%-include("partials/cabecalho.ejs")%>
    <%-include("partials/rodape.ejs")%>
</head>
<body>
    <div>
     <a href="/alunos">Relatorio de alunos</a>
    </div>

   <div>
    <a href="/alunos/cadastrar">Cadastro dos novos alunos</a>
   </div>


   <div>
    <a href="/usuario">Relatorio de usuarios</a>
   </div>

  <div>
   <a href="/usuario/cadastrar">Cadastro de usuarios</a>
  </div>
</body>
</html>